@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  color: #5f564d;
  background-color: #f3e5d7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 123px 0;
  line-height: 150%;
}

h2 {
  color: #854632;
  font-family: 'Young Serif', serif;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 24px;
}

h1,
h2,
h3 {
  line-height: 100%;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

span {
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  body {
    margin: 0;
  }
}
