@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
  height: 100vh;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
