@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #f2eae2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 12px;
}
